{% extends "base_simple.html" %}
{% load i18n %}
{% load bootstrap3 %} 


{% block content %}
<div class="container w-xxl w-auto-xs">
  <div class="text-center m-b-lg">
    <h1 style="font-size: 150px" class="text-muted">404</h1>
  </div>
  <div class="list-group bg-info auto m-b-sm m-b-lg">
    <a href="/" class="list-group-item">
      <i class="fa fa-chevron-right text-muted"></i>
      <i class="fa fa-fw fa-mail-forward m-r-xs"></i> Goto application
    </a>
    <a href="{% url 'userena_signin' %}" class="list-group-item">
      <i class="fa fa-chevron-right text-muted"></i>
      <i class="fa fa-fw fa-sign-in m-r-xs"></i> Sign in
    </a>
    <!-- a href="{% url 'userena_signup' %}" class="list-group-item">
      <i class="fa fa-chevron-right text-muted"></i>
      <i class="fa fa-fw fa-unlock-alt m-r-xs"></i> Sign up
    </a -->
  </div>
</div>
{% endblock %}
