{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>RareDoor</title>
  <meta name="description" content="RareDoor" />
  <meta name="keywords" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  {% block styles %}
  <!-- build:css css/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/components-font-awesome/css/font-awesome.min.css">
  <!-- endinject -->
  <!-- endbuild -->

  <!-- build:css css/app.css -->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/app.css" type="text/css" />
  <!-- endbuild -->
  {% endblock %}
</head>

<body>


<body>
    
  <!-- header -->
  <!-- / header -->

  <div>
    {% block content %}{% endblock %}
  </div>

  <!-- footer -->  
  <!-- / footer -->  

</body>

{% block scripts %}
<!-- build:js js/vendor.js -->
<!-- bower:js -->
<script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
<!-- script src="{{ STATIC_URL }}bower_components/angular/angular.min.js"></script -->
<!-- script src="{{ STATIC_URL }}bower_components/angular-sanitize/angular-sanitize.js"></script -->
<!-- script src="{{ STATIC_URL }}bower_components/angular-animate/angular-animate.js"></script -->
<!-- endinject -->
<!-- endbuild -->

<!-- build:js js/vendor-plus.js -->
<!-- script src="vendor/datepicker/bootstrap-datepicker.js"></script -->
<!-- endbuild -->
{% endblock %}

</html>
