@media (min-width: 768px) {
  .app-aside,
  .navbar-header {
    width: 0px;
  }
  .navbar-collapse,
  .app-content,
  .app-footer {
    margin-left: 0px;
  }
}

.text-oswald {
  font-family: "Oswald";
}

.background-linkedin { background-color: #4875b4 }
.background-facebook { background-color: #3b5998 }
.background-twitter { background-color: #33ccff }

.btn-facebook {
  color: #fff !important;
  background-color: #3b5998;
  border-color: #3b5998;
}
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
  color: #fff !important;
  background-color: #2c4c91;
  border-color: #294787;
}
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
  background-image: none;
}
.btn-facebook.disabled,
.btn-facebook.disabled:hover,
.btn-facebook.disabled:focus,
.btn-facebook.disabled:active,
.btn-facebook.disabled.active,
.btn-facebook[disabled],
.btn-facebook[disabled]:hover,
.btn-facebook[disabled]:focus,
.btn-facebook[disabled]:active,
.btn-facebook[disabled].active,
fieldset[disabled] .btn-facebook,
fieldset[disabled] .btn-facebook:hover,
fieldset[disabled] .btn-facebook:focus,
fieldset[disabled] .btn-facebook:active,
fieldset[disabled] .btn-facebook.active {
  background-color: #3b5998;
  border-color: #2a4787;
}

.btn-linkedin {
  color: #fff !important;
  background-color: #4875b4;
  border-color: #4875b4;
}
.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin:active,
.btn-linkedin.active,
.open .dropdown-toggle.btn-linkedin {
  color: #fff !important;
  background-color: #3668ad;
  border-color: #3260a1;
}
.btn-linkedin:active,
.btn-linkedin.active,
.open .dropdown-toggle.btn-linkedin {
  background-image: none;
}
.btn-linkedin.disabled,
.btn-linkedin.disabled:hover,
.btn-linkedin.disabled:focus,
.btn-linkedin.disabled:active,
.btn-linkedin.disabled.active,
.btn-linkedin[disabled],
.btn-linkedin[disabled]:hover,
.btn-linkedin[disabled]:focus,
.btn-linkedin[disabled]:active,
.btn-linkedin[disabled].active,
fieldset[disabled] .btn-linkedin,
fieldset[disabled] .btn-linkedin:hover,
fieldset[disabled] .btn-linkedin:focus,
fieldset[disabled] .btn-linkedin:active,
fieldset[disabled] .btn-linkedin.active {
  background-color: #4875b4;
  border-color: #4875b4;
}

.btn-twitter {
  color: #fff !important;
  background-color: #33ccff;
  border-color: #33ccff;
}
.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
  color: #fff !important;
  background-color: #1bc0f7;
  border-color: #1ab6eb;
}
.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
  background-image: none;
}
.btn-twitter.disabled,
.btn-twitter.disabled:hover,
.btn-twitter.disabled:focus,
.btn-twitter.disabled:active,
.btn-twitter.disabled.active,
.btn-twitter[disabled],
.btn-twitter[disabled]:hover,
.btn-twitter[disabled]:focus,
.btn-twitter[disabled]:active,
.btn-twitter[disabled].active,
fieldset[disabled] .btn-twitter,
fieldset[disabled] .btn-twitter:hover,
fieldset[disabled] .btn-twitter:focus,
fieldset[disabled] .btn-twitter:active,
fieldset[disabled] .btn-twitter.active {
  background-color: #33ccff;
  border-color: #33ccff;
}