{% extends "base_simple.html" %}
{% load i18n %}
{% load bootstrap3 %}


{% block content %}
<div class="container w-xxl w-auto-xs">
  <div class="wrapper text-center">
    <strong>Change password</strong>
  </div>

  <div class="alert alert-success" role="alert">
    <h4>Your password has been changed</h4>
    <p>You can now sign in with your new password</p>
  </div>

  <p>
    <a href="{% url 'userena_signin' %}" class="btn btn-lg btn-default btn-block">{% trans 'Sign in' %}</a>
  </p>
</div>
{% endblock %}