{% extends "base_simple.html" %}
{% load i18n %}
{% load bootstrap3 %}


{% block content %}
<div class="container w-xxl w-auto-xs">
  <div class="wrapper text-center">
    <strong>Reset password</strong>
  </div>
  <form name="form" method="post" class="form-validation">
    {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
    {% csrf_token %}
    
    {% bootstrap_form_errors form %}

    <div class="list-group">
      <div class="list-group-item">
        <input name="{{ form.email.html_name }}" type="text" placeholder="{{ form.email.label }}" class="form-control no-border" required>
      </div>
    </div>

    <button type="submit" class="btn btn-lg btn-primary btn-block">{% trans 'Send password' %}</button>
  </form>
</div>
{% endblock %}